asgiref==3.8.1
boto3==1.39.2
botocore==1.39.2
dj-database-url==3.0.1
Django==5.2.3
django-markdownx==4.0.9
django-storages==1.14.6
gunicorn==23.0.0
jmespath==1.0.1
lz4==4.4.4
Markdown==3.8.2
packaging==25.0
pillow==11.2.1
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
s3transfer==0.13.0
six==1.17.0
sqlitecloud==0.0.84
sqlparse==0.5.3
urllib3==2.5.0
whitenoise==6.9.0
